@import "tailwindcss";

@layer utilities {
  .font-bebas {
    font-family: var(--font-bebas), Arial, Helvetica, sans-serif;
  }
}

body {
  width: 1437px;
  overflow-x: hidden;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}
